html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../images/background5.jpg);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font: "Comic Sans MS";
}

h1{
    font-size: 10vw;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
}

nav{
    padding-top: 20px;
}

nav ul{
    list-style-type: none;
    text-align: left;
}

nav li{
    display: inline-block;
    padding-right: 20px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

nav .current{
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
}

.skip a{
    background-image: url(../images/background.jpg);
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus{
    position: static;
    width: auto;
    height: auto;
}

:focus{
    border: 2px solid black;
}

.ilana{
    text-align: right;
    margin-top: -40px;
    text-transform: uppercase;
    padding-right: 20px;
    font-family: 'Caveat', serif;
    letter-spacing: .3em;
}

.ilana p{
    transition: 2s ease-in;
}

/* h1:hover{
    color: goldenrod;
} */

footer{
    position: relative;
    font-size: 5vw;
    bottom: 0;
    grid-column: 1/2;
    grid-row: -1/-1;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: .3em;
    padding: 1px;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}

footer p{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
/* 
footer p:hover{
    color: teal;
} */

#github{
    font-size: 2vw;
    text-decoration: none;
    color: white; 
    text-shadow: 3px 3px black;
    letter-spacing: 0em;
}

#github:hover{
    font-weight: bold;
    color: #36bbb4;
}

#linkedin{
    font-size: 2vw;
    text-decoration: none;
    color: white; 
    text-shadow: 3px 3px black;
    letter-spacing: 0em;
}

#linkedin:hover{
    font-weight: bold;
    color: #36bbb4;
}

#facebook{
    font-size: 2vw;
    text-decoration: none;
    color: white; 
    text-shadow: 3px 3px black;
    letter-spacing: 0em;
}

#facebook:hover{
    font-weight: bold;
    color: #36bbb4;
}

#resume{
    font-size: 2vw;
    text-decoration: none;
    color: white; 
    text-shadow: 3px 3px black;
    letter-spacing: 0em;
}

#resume:hover{
    font-weight: bold;
    color: #36bbb4;
}

/* Index Page */
.container-index{
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto 50px;
    width: 100%;
    justify-items: center;
    align-items: center;
}

#main {
    background-attachment: fixed;
    background-image: url(../images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #d5f858;
    text-shadow: 4px 4px black;
    height: 300px;
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/span 1;
}

#main p{
    margin: auto;
    width: 85%;
    text-align: center;
}

.profile-image img{
    max-width: 500px;
    max-height: 500px;
    border: 3px solid black;
}

.profile-image img:hover{
    border: 3px solid goldenrod;
}

.location{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.location:hover{
    color: goldenrod;
}

.info p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

/* Work and Projects */
.container-work{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto 30px;
    justify-items: center;
    justify-content: space-around;
}

#main-work {
    background-attachment: fixed;
    background-image: url(../images/rockclimbing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 4px 4px black;
    height: 400px;
    width: 100%;
    grid-row: 2/3;
}

#main-work p{
    margin: 10px;
    text-align: center;
    grid-row: 2/3;
}

.time-series{
    margin-bottom: auto;
    text-shadow: 1px 1px grey;
    grid-row: 3/4;
}

.time-series-image{
    grid-row: 4/5;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.time-series-image img{
    max-width: 500px;
    max-height: 500px;
    border: 3px solid black;
}

.time-series-image img:hover{
    border: 3px solid goldenrod;
}

.anomaly{
    margin-bottom: auto;
    text-shadow: 1px 1px grey;
    grid-row: 5/6;
}

.anomaly-image{
    grid-row: 6/7;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.anomaly-image img{
    max-width: 500px;
    max-height: 500px;
    border: 3px solid black;
}

.anomaly-image img:hover{
    border: 3px solid goldenrod;
}

.research{
    margin-bottom: auto;
    text-shadow: 1px 1px grey;
    grid-row: 7/8;
}

.research-image{
    grid-row: 8/9;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.research-image img{
    max-width: 400px;
    max-height: 400px;
}

.research-image img:hover{
    border: 3px solid goldenrod;
}

.infographic{
    margin-bottom: auto;
    text-shadow: 1px 1px grey;
    grid-row: 9/10;
}

.infographic-image{
    grid-row: 10/11;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.infographic-image img{
    max-height: 400px;
    border: 3px solid black;
}

.infographic-image img:hover{
    border: 3px solid goldenrod;
}

/* Photos */
.container-photos{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.nav{
    margin-top: -2%;
}

#main-photos {
    background-attachment: fixed;
    background-image: url(../images/lagos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 4px 4px black;
    height: 300px;
    width: 100%;
    grid-column: 1/-1;
    grid-row: 2/span 1;
}

#main-photos h1{
    padding-top: 20%;
    margin-top: -1px;
}

#main-photos p{
    margin: 30px;
    text-align: center;
}

.photos img{
    vertical-align: middle;
    max-width: 90%;
    border: 3px solid black;
    margin: 10px;
}

.photos{
    text-align: center;
}

/* Form */
#main-contact {
    background-attachment: fixed;
    background-image: url(../images/form2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 4px 4px black;
    height: 300px;
    width: 100%;
    grid-column: 1/-1;
    grid-row: 2/span 1;
}

#main-contact h1{
    margin: inherit;
    line-height: 2;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
}
  
input[type=submit] {
    background-color: rgb(29, 161, 133);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #22706c;
}
  
.container-contact {
    border-radius: 5px;
}

#form{
    padding: 20px;
}

@media screen and (max-width: 600px){

    nav{
        font-size: 12px;
        margin-top: -5%;
    }

    .ilana{
        display: none;
    }

    /* About */
    #main{
        height: 200px;
    }
    .profile-image img{
        max-width: 300px;
    }

    .container-index{
        grid-template-rows: auto auto auto auto;
    }

    /* Photos */
    #main-photos {
        height: 50%;
    }
    .photos img{
        max-width: 80%;
    }

    footer{
        padding: 1px;
    }

    /* Work */
    #main-work {
        height: 200px;
    }
    
    .container-work{
        grid-template-columns: none;
        justify-content: space-between;
        font-size: initial;
    }

    .time-series-image img{
        max-width: 100%;
    }

    .anomaly-image img{
        max-width: 100%;
    }

    .research-image img{
        max-width: 100%;
    }

    .infographic-image img{
        max-width: 100%;
    }
    
    /* Contact */
    #main-contact{
        height: 200px;
    }

}

@media screen and (min-width: 600px){

    /* Photos */
    #main-photos {
        height: 350px;
    }
    .photos img{
        max-width: 40%;
    }

    footer{
        padding: 1px;
    }

}

@media screen and (min-width: 1000px){

    .nav{
        grid-column: 1/3;
        font-size: 2vw;
        padding-top: 5px;
    }

    .ilana{
        grid-column: 1/3;
        font-size: 2vw;
        padding-top: 5px;
        margin-top: -80px;
    }

    /* About */
    #main {
        height: 500px;
        grid-column: 1/span 3;
        grid-row: 1/3;

    }

    .container-index{
        display: grid;
        grid-template-columns: 300px 300px;
        width: 100%;
        justify-items: center;
        align-items: center;
    }

    .location{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;  
        font-size: 2vw;
    }

    .profile-image{
        grid-column: 1/3;
        grid-row-start: 4;
        grid-row-end: 5;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 3px;
    }

    .info{
        grid-column: 3/4;
        grid-row: 4/5;
        padding-right: 10%;
        font-size: 20px;
    }

    footer{
        grid-column: 1/4;
        padding: 1px;
    }

    /* Work */
    #main-work {
        height: 500px;
        grid-column: 1/span 3;
        grid-row: 1/3;
    }

    .container-work{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto 100px;
        width: 100%;
    }

    .time-series{
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 2vw;
    }

    .time-series-image{
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 20px;
        width: 100%;
    }

    .time-series-image p{
        padding-left: 10px;
        padding-right: 10px;
    }

    .anomaly{
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 2vw;
    }

    .anomaly-image{
        grid-column: 2/3;
        grid-row: 4/5;
        font-size: 20px;
        width: 100%;
    }

    .anomaly-image p{
        padding-left: 10px;
        padding-right: 10px;
    }

    .research{
        grid-column: 1/2;
        grid-row: 5/6;
        font-size: 2vw;
    }

    .research-image{
        grid-column: 1/2;
        grid-row: 6/7;
        font-size: 20px;
    }

    .infographic{
        grid-column: 2/3;
        grid-row: 5/6;
        font-size: 2vw;
    }

    .infographic-image{
        grid-column: 2/3;
        grid-row: 6/7;
        font-size: 20px;
    }

    footer{
        padding: 1px;
    }

    /* Photos */
    .photos img{
        max-width: 25%;
    }

    #main-photos {
        height: 500px;
    }

    /* Contact */
    #main-contact {
        height: 500px;
    }

    #main-contact h1{
        line-height: 3;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .animation {
        transition: none;
    }

    html{
        scroll-behavior: initial; 
    }
  
    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        position: absolute;
        top: -40px;
        -webkit-transition: initial;
        transition: initial;
        z-index: 1;
    }
  
    .skip a:focus{
        top: 0;
        border: 2px solid black;
    }

}

  